@font-face {
  font-family: "CircularStd";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../assets/fonts/CircularStd-Book.ttf") format("truetype");
  unicode-range: U+20, U+21, U+23, U+26-29, U+2C-33, U+35-38, U+3A, U+3F,
    U+41-57, U+61-7A, U+A9, U+E9, U+2013, U+2014, U+2026, U+2AF6, U+1F44B;
}

@font-face {
  font-family: "CircularStd Medium";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../assets/fonts/circular-std-medium-500.ttf") format("truetype");
  unicode-range: U+20, U+21, U+23, U+26-29, U+2C-33, U+35-38, U+3A, U+3F,
    U+41-57, U+61-7A, U+A9, U+E9, U+2013, U+2014, U+2026, U+2AF6, U+1F44B;
}

@font-face {
  font-family: "CircularStd Bold";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../assets/fonts/CircularStd-Bold.ttf") format("truetype");
  unicode-range: U+20, U+21, U+23, U+26-29, U+2C-33, U+35-38, U+3A, U+3F,
    U+41-57, U+61-7A, U+A9, U+E9, U+2013, U+2014, U+2026, U+2AF6, U+1F44B;
}

@font-face {
  font-family: "CircularStd Black";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../assets/fonts/CircularStd-Black.ttf") format("truetype");
  unicode-range: U+20, U+21, U+23, U+26-29, U+2C-33, U+35-38, U+3A, U+3F,
    U+41-57, U+61-7A, U+A9, U+E9, U+2013, U+2014, U+2026, U+2AF6, U+1F44B;
}

.monthlyTab .chakra-tabs__tab-indicator {
  width: 30px !important;
}
